<footer class="footer">
  <div class="container">
    <div class="cols">
      <div class="about">
        <img class="logo" src="assets/logo.png" alt="Save a Leg, Save a Life Foundation">
        <p>The Save A Leg, Save A Life Foundation is a 501(c)(3) nonprofit working to reduce preventable lower extremity amputations. Federal Tax ID 32-0467696. Florida Solicitation Registration CH47375.</p>
        <p>4403 5th Ave NE, Bradenton, FL 34208<br>+1 813-445-3857 &middot; info@thesalsal.org</p>
      </div>
      <div>
        <h4>About</h4>
        <a href="mission-vision.html">Mission &amp; Vision</a>
        <a href="how-we-help.html">How We Help</a>
        <a href="board-of-directors.html">Board of Directors</a>
        <a href="news.html">News</a>
      </div>
      <div>
        <h4>Learn</h4>
        <a href="learning-center.html">Learning Center</a>
        <a href="resource-library.html">Resource Library</a>
        <a href="upcoming-webinars.html">Upcoming Webinars</a>
        <a href="community-screening-events.html">Screening Events</a>
      </div>
      <div>
        <h4>Support</h4>
        <a href="donate.html">Donate</a>
        <a href="become-supporter.html">Become a Supporter</a>
        <a href="corporate-sponsorship.html">Corporate Sponsorship</a>
        <a href="shop.html">Shop</a>
      </div>
    </div>
    <div class="partners">
      <div class="lbl">Mission partners</div>
      <div class="row">
        <img src="assets/partners/organogenesis-logo-1.png" alt="Organogenesis">
        <img src="assets/partners/MC-WM-transparent-1.png" alt="Medline">
        <img src="assets/partners/imgi_1_halliburton-logo.svg" alt="Halliburton">
        <img src="assets/partners/Advanced-Solution-Logo-Color-MAIN-1024x332.png" alt="Advanced Solution">
        <img src="assets/partners/AIROS-MEDICAL-HORIZONTAL-NO-MARGINS-2.png" alt="Airos Medical">
        <img src="assets/partners/MIMOSA-Logo-Blue-1-1024x229.jpg" alt="Mimosa">
        <img src="assets/partners/SweetBio_Logo_Manuka.png" alt="SweetBio">
      </div>
    </div>
    <div class="legal">
      <span>&copy; 2026 The Save A Leg, Save A Life Foundation. All rights reserved.</span>
      <span class="socials">
        <a href="https://www.facebook.com/TheSALSALorg">Facebook</a>
        <a href="https://twitter.com/thesalsalorg">X</a>
        <a href="https://www.instagram.com/thesalsalfoundation">Instagram</a>
        <a href="https://www.linkedin.com/company/the-save-a-leg-save-a-life-foundation/">LinkedIn</a>
        <a href="https://www.youtube.com/channel/UC62XP_YydDhyI1agjEe9Rcw">YouTube</a>
      </span>
    </div>
  </div>
</footer>
<!-- global: duotone photo filter (navy to sky), used by .media.duo and hero photos -->
<svg width="0" height="0" style="position:absolute" aria-hidden="true"><filter id="duo" color-interpolation-filters="sRGB">
  <feColorMatrix type="matrix" values="0.33 0.33 0.33 0 0  0.33 0.33 0.33 0 0  0.33 0.33 0.33 0 0  0 0 0 1 0"/>
  <feComponentTransfer>
    <feFuncR type="table" tableValues="0.11 0.87"/>
    <feFuncG type="table" tableValues="0.21 0.94"/>
    <feFuncB type="table" tableValues="0.34 0.98"/>
  </feComponentTransfer>
</filter></svg>
<!-- global: scroll-reveal (content stays visible if JS is off) -->
<script>
(function(){
  document.documentElement.classList.add('js');
  var els=document.querySelectorAll('.section .container>*');
  if(!('IntersectionObserver' in window)){els.forEach(function(e){e.classList.add('in');});return;}
  var io=new IntersectionObserver(function(entries){
    entries.forEach(function(en){ if(en.isIntersecting){ en.target.classList.add('in'); io.unobserve(en.target);} });
  },{threshold:0.12,rootMargin:'0px 0px -40px 0px'});
  els.forEach(function(e){io.observe(e);});
})();
</script>
